* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;

}
/* STARTING WHOLE NAVBAR AND STARTING WITH LOGO */
.navbar{
    height:60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-logo{
    height: 50px;
    width: 100px;
}

.logo{
    height: 60px;
    width: 105px;
    background-size: cover;
    background-image: url(amazon_logo.png);
}

.border{
    border: 1.5px solid black;
}

.border:hover{
    border: 1.5px solid whitesmoke;
}

/* STARTING BOX 2 STYLING */

.one add{
    height: 14px;
    font-size: 0.78rem;
    color: #CCCCCC;
    margin-left: 15px;
}

.two add{
    font-size: 1rem;
    margin-left: 3px;
}

.location_logo{
    display: flex;
    align-items: center;
}

/* box3 */

.searchbox{
    display: flex;
    height: 40px;
    width: 640px;
    justify-content: center;
}
.searchbox:active:hover{
    border: 4px solid #febd70;
    border-radius: 7px;
}

.search-select{
    width: 50px;
    background-color: #e6e6e6;
    text-align:center;
    border-top-left-radius: 7px;
    border-bottom-left-radius:7px;
    color: #6f6e6e;
    border:none;
}

.search-input{
    font-size: 1rem;
    width:100%;
    border:none;
}

.search_icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 1.25em;
    background-color: #febd68;
    color:#0F1111;
}
 /* Box 4 (choosing a language) */
.language{
    display: flex;
    justify-content: space-between;
}

.countries{
    height: 17px;
    display:flex;
}

.select_color{
    color: white;
    background-color: #0F1111;
}
/* Box 5 (accounts and stuff) */
span{
    font-size:0.9rem;
}

.nav-second{
    font-size: 1.1rem;
}
/* Box 6(Orders all all this kind of info in this button) */
.cart i{
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.cart{
    height: 50px;
    width: 70px;
    font-weight: 700px;
    display: inline-block;
}

/* second bar (with Today's deals, Customer Service, Registry ,Gift's card etc..) */

.panel{
    color: white;
    background-color: #222f3d;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p{ 
    margin-left: 40px;
    display: inline;
}

.panel-ops{
    width: 70%;
    font-size: larger;
    font-weight: 700px;
}

/* Product Images in the Amazon sales */
.product-images{
    height: 380px;
    width: 1500px;
    background-image: url(amazon1.jpg);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.amazon_msg{
    height: 40px;
    color: #0F1111;
    background-color: #f5f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.86rem;
    width: 80%;
    margin-bottom: 25px;
}
a{
    color: #007185;
    text-decoration: none;
}

/* different sections have differnt images in differnt boxes */
/* first we have shopping section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(223, 204, 207);
}

.box{
    border: 2px solid black;
    height: 390px;
    width: 23%;
    padding: 20px 0px 15px 15px;
    background-color: white;
    margin-top: 17px;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box1_img{
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 10px;
    margin-right: 10px;
}

.see-more{
    color: #007185;
}
/* Footer of the Amazon web page*/

footer{
    margin-top: 15px;
}

.panel1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222f3d;
    height: 50px;
    font-size: 15px;
    color: #f5f6f6;
    opacity: 0.9;
}

.panel1:hover{
    background-color: #3f454d;
}

.panel2{
    background-color:#222f3d;
    height:400px;
    color:white;
    display: flex;
    justify-content: space-evenly;
}

ul a{
    display:block;
    font-size: 1rem;
    margin: 20px;    
    color: #dddddd;
    font-weight: 200;
}

ul{
    margin-top: 30px;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.10000px solid white;
    display: flex;
}

.foot_am_logo {
    height: 60px;
    width: 100px;
    background-size: cover;
    background-image: url(amazon_logo.png);
    margin-top: 20px;
    margin-left:600px;
}

.english_button{
    font-size: 1.1rem;
    height: 34px;
    width: 117px;
    border: 0.2px solid white;
    margin-top: 20px;
    margin-left:20px;
    padding-top:24px ;
    display: flex;
    justify-content: center;
}

.money-medium{
    height: 34px;
    width: 150px;
    border: 0.2px solid white;
    margin-top: 20px;
    margin-left:20px;
    padding-top:15px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #222f3d;
    height:90px
}
.pages{
    margin-top: 20px;
    color: white;
    font-weight: 400;
    display:flex;
    justify-content: space-between;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222f3d;
    height: 30px;
    color: #dddddd;
    font-weight: 300px;
}

